/* countdown*/

#days{
    font-size: 130px;

}

#jdays{
    font-size: 90px;
 
}

#hours{
    font-size: 30px;
    
}

#minutes{
    font-size: 30px;
    
}

#seconds{
    font-size: 30px;
    
}



.countdown{
    text-align: center;
    position: absolute;
    left: 35%;
    right: 35%;
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
    z-index: 3;
    color: white;
}

.timer{
    background: linear-gradient( #fff 50%, #f0f455 90%, #e05252 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#question {
    margin-top: 15px;
}

/*Main*/



body{
    background-color: black;
    
}


img {
    width: 100%;
    -webkit-filter: brightness(50%);

}

.container-fluid {
    width: 100%;
    position: relative;
    z-index: 1;
    
}


p4 {
    font-family: "Archivo Black", sans-serif;
    font-size: 21px;
    text-align: center; 

}

    

.overlay {
    opacity: 0;
    transition: 0.90s;
    background: rgb(0,0,0,0.5);
    
    
    
}


.overlay.taphover:hover, .overlay.taphover.hover{
    opacity: 1;
    background: rgb(0,0,0,0.8);
   
    }




.card-text{
    text-align: center;
    padding-top: 300px;
    font-family: "Archivo Black", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    background: linear-gradient( #fff 33%, #f0f455 33%, #f9e8e8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn{
    text-transform: uppercase;
    background: #f9c8cb;
}

@media screen and (min-width: 960px){
.btn:hover{
    background: #fff;
    font-size: 17px;
    }}

@media screen and (max-width: 960px){
.btn:active{
    background: #fff;
    font-size: 17px;
    }}


.info{
    position:absolute;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    color: white;
    z-index: 2;
    left: 45%;
    bottom: 1%
    
}

#fas1{
    font-size: 30px;
    
}

a {
    cursor: pointer;
    text-decoration: white;
    
}

a:hover{
    color: white;
}

/*FOOTER*/


/*footer{
    text-align: center;
    background: #f9e8e8;
    font-size: 11px;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
}

footer a {
    font-style: italic;
    color: #000;
    
} */

footer {
    text-align: center;
    
}



.logoFB{
    color: #f9c8cb;
    transition: color 0.7s;
    
}

.logoFB p1{
    position: absolute;
    display: none;
}



.logoFB:hover p1{
    
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    display: block;
    font-family: "Archivo Black", sans-serif;
    margin: 2 auto;
    margin-left:32%;
    transition: color 0.5s;
}

 
.logoTW{
    color: #f9c8cb;
    transition: color 0.7s;
}

.logoTW p2{
    position: absolute;
    display: none;

}



.logoTW:hover p2{
    
    text-decoration-color: white;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    color: white;
    display: block;
    font-family: "Archivo Black", sans-serif;
    margin: 2 auto;
    margin-left:40%;
    transition: color 0s;
}


.logoGO{
    color: #f9c8cb;
    transition: color 0.7s;
}


.logoGO p3{
    position: absolute;
    display: none;
}



.logoGO:hover p3{
    
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    color: white;
    display: block;
    font-family: "Archivo Black", sans-serif;
    margin: 2 auto;
    margin-left: 32%;
    transition: color 0s;
}



.logoLI{
    color: #f9c8cb;
    transition: color 0.7s;
}


.logoLI p4{
    position: absolute;
    display: none;
}



.logoLI:hover p4{
    
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    color: white;
    display: block;
    font-family: "Archivo Black", sans-serif;
    margin: 2 auto;
    margin-left:45%;
    transition: color 0s;
}


.logoIG{
    color: #f9c8cb;
    transition: color 0.7s;
}


.logoIG p5{
    position: absolute;
    display: none;
}



.logoIG:hover p5{
    
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    color: white;
    display: block;
    font-family: "Archivo Black", sans-serif;
    margin: 2 auto;
    margin-left:42%;
    transition: color 0s;
}


.logoPI{
    color: #f9c8cb;
    transition: color 0.7s;
}


.logoPI p6{
    position: absolute;
    display: none;
}



.logoPI:hover p6{
    
    color: #fff;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    color: white;
    display: block;
    font-family: "Archivo Black", sans-serif;
    margin: 2 auto;
    margin-left:42%;
    transition: color 0s;
}



.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    align-content: center; 
}





